<!DOCTYPE html>
<html lang="zh-CN">
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/static/Common.js"></script>
<script src="../static/jsonFormater.js" type="text/javascript"></script>
<link href="../static/jsonFormater.css" type="text/css" rel="stylesheet"/>
<style>
    .pad {
        padding: 15px 15px 15px;
    }
</style>
<body>


<div id="main-content" class="container">
    <div class="page-header">
        <h1>Dubbo转Http <small>工具</small></h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">消费</div>
        <div class="panel-body">
            <form action="">
                <div class="row form-group pad">
                    <label>服务名</label>
                    <select class="form-control" id="consumers" onchange="getConsumerMethod()">
                        <option value="">-------------------</option>
                    </select>


                </div>
                <div class="row form-group pad">
                    <label>方法名</label>

                    <select class="form-control" id="methods" onchange="getConsumerDetail()">
                        <option value="">-------------------</option>
                    </select>
                </div>
                <div class="row form-group pad">
                    <label>详情</label>

                    <select class="form-control" id="desc" onchange="">
                        <option value="">-------------------</option>
                    </select>
                </div>
                <div class="row form-group pad">
                    <textarea class="form-control" name="" id="parameterTypesDemo" cols="300" rows="10"></textarea>
                </div>
                <div class="row form-group pad">
                    <label>URL</label>
                    <textarea class="form-control" name="" id="consumersurl" cols="300"
                              rows="2">dubbo://127.0.0.1:10010</textarea>
                </div>
                <div class="row form-group pad">
                    <a class="btn btn-primary" onclick="invokeConsumerDubbo()">消费端调用</a>
                </div>
            </form>
            <div>
                <h4>结果</h4>
                <pre id="consumersResult">默认结果</pre>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>

    <div class="panel panel-primary">
        <div class="panel-heading">生产者</div>
        <div class="panel-body">
            <div class="row form-group pad">
                <label>服务名</label>
                <select class="form-control" id="providers" onchange="getProvidersMethod()">
                    <option value="">-------------------</option>
                </select>
                <div class="row form-group pad">
                    <label>方法名</label>
                    <select class="form-control" id="providersMethods" onchange="getProvidersDetail()">
                        <option value="">-------------------</option>
                    </select>
                </div>
                <div class="row form-group pad">
                    <label>详情</label>
                    <select class="form-control" id="providersDesc" onchange="">
                        <option value="">-------------------</option>
                    </select>
                </div>
                <div class="row form-group pad">
                    <textarea class="form-control" name="" id="providersParameterTypesDemo" cols="300"
                              rows="10"></textarea>
                </div>
                <div class="row form-group pad">
                    <label>URL</label>
                    <textarea class="form-control" name="" id="providersurl" cols="300"
                              rows="2">dubbo://127.0.0.1:20880</textarea>
                </div>
                <div class="row form-group pad">
                    <a class="btn btn-primary" onclick="invokeProvidersDubbo()">生产端调用</a>
                </div>
                <div>
                    <h4>结果</h4>
                    <pre id="providersResult" >默认结果</pre>
                </div>
        </div>
    </div>
    </div>
        <hr>

    <div class="row form-group pad bg-info">
        <div>注意：</div>
        <p>字符串要用英文引号""包括</p>
        <p>多个入参，可以"换行"传入调用</p>
        <div>使用示例 1</div>
        <p>xxService.XxMethod(String id)</p>
        <p>"24dda18ae18245c1b272e2df1981678b"</p>
        <div>使用示例 2</div>
        <p>xxService.XxMethod(String uuid,int id)</p>
        <pre>"24dda18ae18245c1b272e2df1981678b"
            2019s
        </pre>
        <div>使用示例 2</div>
        <p>xxService.XxMethod(XxxCreateParams)</p>
        <pre>{"uuid":null,"supplierIds":null,"subBizId":null,"businessName":null,"sourceId":null,"sourceName":null,"bizName":null,"bizType":null,"ext":null,"modifier":null}
        </pre>
    </div>
</div>
</body>
<script type="text/javascript">
  var consumers;
  var providers;

  function getlist() {
    baigt.getJson("/dubbotohttp/list", null, function (data) {
      // console.info(data)
      consumers = data.consumers;
      providers = data.providers;
      console.info(consumers)
      console.info(providers)
      for (var i in consumers) {
        $("#consumers").append("<option value='" + i + "'>" + i + "</option>");
      }
      for (var i in providers) {
        $("#providers").append("<option value='" + i + "'>" + i + "</option>");
      }
    });
  }

  function getConsumerMethod() {
    var vs = $('#consumers  option:selected').val();
    console.info(consumers[vs])
    $("#methods").empty();
    $("#methods").append("<option value=''>-------------------</option>");
    for (var md in consumers[vs]) {
      $("#methods").append("<option value='" + md + "'>" + md + "</option>");
    }
  }

  function getProvidersMethod() {
    var vs = $('#providers  option:selected').val();
    console.info(providers[vs])
    $("#providersMethods").empty();
    $("#providersMethods").append("<option value=''>-------------------</option>");
    for (var md in providers[vs]) {
      $("#providersMethods").append("<option value='" + md + "'>" + md + "</option>");
    }
  }

  function getConsumerDetail() {
    var vs = $('#consumers  option:selected').val();
    var mds = $('#methods  option:selected').val();
    // console.info(consumers[vs][mds])
    var mdsdetail = consumers[vs][mds];
    $("#desc").empty();
    $("#desc").append("<option value=''>-------------------</option>");
    for (var md in mdsdetail) {
      $("#desc").append("<option value='" + md + "'>" + mdsdetail[md] + "</option>");
    }
    $("#parameterTypesDemo").empty();
    $("#parameterTypesDemo").text(mdsdetail.parameterTypesDemo);
    $("#parameterTypesDemo").val(mdsdetail.parameterTypesDemo);
    var demo = mdsdetail.parameterTypesDemo;
    if (demo == "无入参") {
      $("#parameterTypesDemo").val("");
    }
  }


  function getProvidersDetail() {
    var vs = $('#providers  option:selected').val();
    var mds = $('#providersMethods  option:selected').val();
    console.info(providers[vs][mds])
    var mdsdetail = providers[vs][mds];
    $("#providersDesc").empty();
    $("#providersDesc").append("<option value=''>-------------------</option>");
    for (var md in mdsdetail) {
      $("#providersDesc").append("<option value='" + md + "'>" + mdsdetail[md] + "</option>");
    }
    var demo = mdsdetail.parameterTypesDemo;
    $("#providersParameterTypesDemo").empty();
    $("#providersParameterTypesDemo").text();
    $("#providersParameterTypesDemo").val(demo);
    if (demo == "无入参") {
      $("#providersParameterTypesDemo").val("");
    }
  }

  $(function () {
    getlist();
  });

  function invokeConsumerDubbo() {
    var service = $('#consumers  option:selected').val();
    var method = $('#methods  option:selected').val();
    var params = $("#parameterTypesDemo").val();
    var url = $("#consumersurl").val();
    var data = {
      params: params,
      method: method,
      url: url,
      service: service
    }
    baigt.getPostJsonCallBack("/dubbotohttp/invoke", data, function (res) {
      $("#consumersResult").empty();
      showJson(res, "#consumersResult")
    })
  }

  function invokeProvidersDubbo() {
    var service = $('#providers  option:selected').val();
    var method = $('#providersMethods  option:selected').val();
    var params = $("#providersParameterTypesDemo").val();
    var url = $("#providersurl").val();
    var data = {
      params: params,
      method: method,
      url: url,
      service: service
    }
    baigt.getPostJsonCallBack("/dubbotohttp/invoke", data, function (res) {
      console.info(res)
      $("#providersResult").empty();
      showJson(res, $("#providersResult"))
    })
  }

  function showJson(jsonObj, dom) {
    var options = {
      dom: dom,
      isCollapsible: true,
      quoteKeys: true,
      tabSize: 5
    };
    window.jf = new JsonFormater(options);
    jf.doFormat(jsonObj);
  }

</script>
</html>